BOT_TOKEN=
WEBAPP_URL=
DATABASE_URL=
DB_PORT=

CLOUDFLARED_TOKEN=

# ==========================================
# COMMON SETTINGS (Database & Third-Party)
# ==========================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
NODE_ENV=development

BRIGHTDATA_API_ZONE=
BRIGHTDATA_API_URL=
BRIGHTDATA_API_KEY=