# ==========================================
# ENVIRONMENT VARIABLES: DEV vs PROD
# ==========================================
# To switch environments, simply comment/uncomment the respective blocks below.

# 🟢 DEVELOPMENT (Local + ngrok)
BOT_TOKEN=
# WEBAPP_URL=
DATABASE_URL=
DB_PORT=


# 🔴 PRODUCTION (Raspberry Pi + Cloudflare Tunnel)
# BOT_TOKEN=
WEBAPP_URL=

CLOUDFLARED_TOKEN=
# DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5435/quizlet_bot
# DB_PORT=5435

# ==========================================
# COMMON SETTINGS (Database & Third-Party)
# ==========================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
NODE_ENV=development

BRIGHTDATA_API_ZONE=
BRIGHTDATA_API_URL=
BRIGHTDATA_API_KEY=